= form_with(model: question_board, local: true) do |form|
  - if question_board.errors.any?
    #error_explanation.alert.alert-danger
      - question_board.errors.full_messages.each do |message|
        #{message}

  .field
    名前：
    = form.text_field :title, id: :item_title, placeholder: "タイトル", class: 'form-control'
  .actions.text-right
    = form.submit (yield :submit_label), class: 'btn btn-primary mt-1'
