%h1 質問のカスタマイズ

- provide :submit_label, "更新"
= render 'form', user: current_user, board: @question_board
= render "questions/question_list", questions: @question_board.questions
-#question_boardsの方に送信する方がシンプルかもしれない（nested_formを使う方法）
-#新しいquestionを追加するボタンに遷移させてそこから追加するとシンプルになる
= render "questions/form", board: @question_board, question: @question
= link_to 'キャンセル', question_boards_path
