.container
  %h1 回答の一覧
  %ul.list-group
  - @boards.each do |board|
    %li.list-group-item= link_to "ボード #{board.id}", user_question_board_path(current_user, board)

  = link_to '質問の一覧へ', user_question_boards_path(current_user)
