.container
  %h1 回答ボードの一覧
  %ul.list-group
  - @boards.each do |board|
    %li.list-group-item= link_to "#{board.invite.name} さんの回答", answer_board_path(board)

  = link_to '質問ボードの一覧へ', question_boards_path
