.container
  %h1 回答ボードの一覧
  - @boards.each do |board|
    .row.list-group-item
      .col-sm-3
        = board.invite.question_board.title
      .col-sm-6
        = link_to "#{board.invite.name} さんの回答", answer_board_path(board)

  = link_to '質問ボードの一覧へ', question_boards_path
